<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TOOSEC - Cybersecurity</title>
  <link rel="stylesheet" href="../static/css/home.css?v=4" />
</head>
<body>
  
  <div class="background-overlay"></div>
    {% include 'header.html' %}
  
  <section class="hero">
    <div class="hero-text">
      <h1>Learn And Practice<br><span class="highlight">CYBERSECURITY</span></h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
        eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
        Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
    </div>
  </section>
  
</body>
</html>
