<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TOOSEC - Tools</title>
  <link rel="stylesheet" href="../static/css/password.css" />
</head>
<body>
  <div class="background-overlay"></div>
  <header class="navbar">
    <div class="logo">TOOSEC</div>
    <nav class="nav-links">
      <a href="home.html">Home</a>
      <a href="password.html" class="active">Generate</a>
      <a href="encrypt.html">Encrpyt</a>
      <a href="decrypt.html">Decrypt</a>
      <a href="url.html">Check URL</a>
    </nav>
    <button class="sign-in-btn">Sign in</button>
  </header>

  <main class="tools-section">
    <h1 class="section-title">Password Generator</h1>

    <section class="password-generator">
      <h2>Generate a Strong Password</h2>
      <form class="generator-form">
        <label for="password">Generated Password</label>
        <input type="text" id="password" placeholder="Your secure password" readonly />
      
        <label for="length">Password Length: <span id="length-value">12</span></label>
        <input type="range" id="length" min="6" max="32" value="12" oninput="document.getElementById('length-value').textContent = this.value" />

        <div class="options">
            <label><input type="checkbox" id="uppercase" checked /> Include Uppercase Letters</label>
            <label><input type="checkbox" id="special-chars" checked /> Include Special Characters</label>
          </div>
      
        <label for="min-special">Min. Special Characters</label>
        <input type="number" id="min-special" min="0" max="10" value="1" />
      
        <div class="options">
          <label><input type="checkbox" id="numbers" checked /> Include Numbers</label>
        </div>

        <label for="min-special">Min. Numberes</label>
        <input type="number" id="min-number" min="0" max="10" value="1" />

      
        <button type="button" class="generate-btn">Generate</button>
      </form>
    </section>
  </main>
</body>
</html>
