<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TOOSEC - Tools</title>
  <link rel="stylesheet" href="../static/css/password.css" />
</head>
<body>
  <div class="background-overlay"></div>
  {% include 'header.html' %}

  <main class="tools-section">
    <h1 class="section-title">Password Generator</h1>

    <section class="password-generator" >
      <h2>Generate a Strong Password</h2>
      <form class="generator-form" method="post" action="{{ url_for('password_generator') }}">
        <label for="password">Generated Password</label>
          <input type="text" id="password"
        {% if generate_passwrod == "" %}
          placeholder="Your secure password"
        {% else %}
          placeholder="{{ generated_password }}"
        {% endif %}
          readonly />

        <label for="length">Password Length: <span id="length-value" >
            {% if password_options.length is number %}
              {{password_options.length}}
            {% else %}
              12
            {% endif %}
        </span></label>
        <input name="length" type="range" id="length" min="6" max="32" oninput="document.getElementById('length-value').textContent = this.value"
            {% if password_options.length is number %}
              value="{{password_options.length}}"
            {% else %}
              value="12"
            {% endif %}
        />

        <div class="options">
            <label><input name="contain_uppercase" type="checkbox" id="uppercase"
            {% if password_options.contain_uppercase == True %}
              checked
            {% elif password_options.contain_uppercase == False %}
              nochecked
            {% else %}
              nochecked
            {% endif %}
            /> Include Uppercase Letters</label>

            <label><input name="contain_characters" type="checkbox" id="special-chars"
            {% if password_options.contain_char == True %}
              checked
            {% elif password_options.contain_char == False %}
              nochecked
            {% else %}
              nochecked
            {% endif %}
            /> Include Special Characters</label>
          </div>
      
        <label for="min-special">Min. Special Characters</label>
        <input name="min_special_char" type="number" id="min-special" min="0" max="10"
          {% if password_options.min_special_char is number %}
            value ="{{password_options.min_special_char}}"
          {% else %}
            value="0"
          {% endif %}
        />
      
        <div class="options">
          <label><input name="contain_numbers" type="checkbox" id="numbers"
            {% if password_options.contain_numbers == True %}
              checked
            {% elif password_options.contain_numbers == False %}
              nochecked
            {% else %}
              nochecked
            {% endif %}
          /> Include Numbers</label>
        </div>

        <label for="min-special">Min. Numberes</label>
        <input name="min_numbers" type="number" id="min-number" min="0" max="10"
          {% if password_options.min_numbers is number %}
            value ="{{password_options.min_numbers}}"
          {% else %}
            value="0"
          {% endif %}
        />

      
        <button type="submit" class="generate-btn">Generate</button>
      </form>
    </section>
  </main>
</body>
</html>
